.navbar {
  width: 100vw;
  background-color: white !important;
  top: 0;
  -webkit-box-shadow: 0 5px 9px -9px #999;
  -moz-box-shadow: 0 5px 9px -9px #999;
  box-shadow: 0 5px 9px -9px #999;
  z-index: 999;
}
.navbar .navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}
.navbar img {
  width: 50px;
  object-fit: cover;
}
.navbar .searchbar {
  width: 45vw;
  height: 39px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(218, 220, 220, 0.5);
  background-color: rgba(218, 220, 220, 0.5);
}
.navbar .searchbar:focus-within {
  background-color: white;
  border: 1px solid grey;
}
.navbar .searchbar .searchIcon {
  font-size: 22px !important;
  color: grey;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.navbar .searchbar input {
  width: 90%;
  height: 38px;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  background: transparent;
}
.navbar .searchbar ::-webkit-input-placeholder {
  color: grey;
  font-size: 15px;
  font-family: sans-serif;
}
.navbar .navbar__right .navbar__links button {
  background-color: white;
  border: 1.5px solid grey !important;
  width: 120px;
  height: 35px;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 5px;
  color: grey;
  outline: none;
}
.navbar .navbar__right .navbar__links button:hover {
  color: black;
  border: 1.5px solid black !important;
}
.navbar .navbarIcons .notificationIcon {
  color: grey !important;
  font-size: 30px;
}
.navbar .navbarIcons .navbar__badge {
  background-color: #e40909;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 1.5rem;
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bolder;
}
.profile__image {
  cursor: pointer;
}
.loginLink .navLinks {
  color: grey !important;
}
.loginLink .navLinks:hover {
  color: black !important;
}

.navbar .avatar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.navbar .avatar span {
  border-radius: 50%;
  background-color: black;
  color: white !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 800;
  font-family: "Sora" sans-serif;
  text-transform: uppercase;
  width: 36px;
  height: 36px;
}
.navbar .notifications {
  margin-top: 0.4rem;
}
.navbar .notifications a i {
  font-size: 30px !important;
  color: rgba(0, 0, 0, 0.75) !important;
}
.navbar .notifications a i:hover {
  color: #0e93cd !important;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid rgba(64, 64, 64, 0.3);
}
.dropdown-menu {
  width: 200px;
  height: 135px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 4px;
  margin-top: 0.3rem;
  box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.51);
}
.dropdown-menu-arrow {
  top: -25px;
  left: 90%;
  width: 0;
  height: 0;
  position: relative;
}
.dropdown-menu i {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu a {
  font-size: 16px;
  font-weight: normal;
  font-family: "Sora" sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
