.signup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  height: 100vh;
}
.signup__container img {
  width: 85px;
  object-fit: cover;
  pointer-events: none;
}
.signup__container h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
.signup__container .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.signup__form {
  margin: 0 auto;
  width: 30%;
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 6px 18px -7px rgba(0, 0, 0, 0.94);
  -webkit-box-shadow: 0px 6px 18px -7px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 0px 6px 18px -7px rgba(0, 0, 0, 0.94);
}
.signup__form .createHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup__form .createHeader h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
  font-weight: bold;
  font-family: "Sora" sans-serif;
  text-align: center;
  padding-top: 1.7rem;
}
.signup__form .createHeader h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: normal;
  font-family: "Sora" sans-serif;
  text-align: center;
}
.signup__form .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 20px;
}
.signup__form .usernameSignup,
.emailSignup,
.passwordSignup {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}
.signup__form .usernameInput,
.emailInput,
.passwordInput ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  font-family: sans-serif;
}
.signup__form .usernameInput,
.emailInput,
.passwordInput {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  background: transparent;
  padding-left: 15px;
}
.signup__form .form form input[type="submit"] {
  margin-top: 0.5rem;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: #333;
  outline: none;
  border: none;
  color: white;
}
.signup__form .haveAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.signup__form .haveAccount span {
  font-size: 14px;
  font-weight: normal;
  color: #0e93cd;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.signup__form .fieldError {
  margin-top: -1rem;
  margin-bottom: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #bd0707 !important;
  font-size: 15px !important;
  font-family: "Sora" sans-serif !important;
  font-weight: 500;
}
.signup__form.fieldError .errorlist li {
  list-style-type: none !important;
  text-align: center !important;
}
/* smaller phones media query */
@media screen and (min-device-width: 280px) and (max-device-width: 653px) {
  .signup__form {
    width: 95%;
  }
}
/* small phones media query */
@media screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .signup__form {
    width: 95%;
  }
}
/* iphone x media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .signup__form {
    width: 95%;
  }
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .signup__form {
    width: 95%;
  }
}